<div id="<%= dom_id task %>" data-uuid="<%= task.uuid %>">
  <p>
    <%= t(".url_html", url: task.url) %>
  </p>

  <p>
    <%= t(".status_html", status: task.status) %>
  </p>

  <p>
    <%= t(".data_html", data: task.dados_formatados) %>
  </p>
</div>
