<h1><%= t ".title" %></h1>

<%= form_with(scope: :user, url: sign_in_path) do |form| %>
  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.email_field :email, style: "width: 480px", required: true %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password, style: "width: 480px", required: true %>
  </div>

  <div>
    <%= form.submit "Entrar" %>
  </div>
<% end %>

<p>
  <%= t(".registration_link_html", url: sign_up_path) %>
</p>
